<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
</head>
<body>
    <h1>
        <form id="sentence" method='POST'>
            {% csrf_token %}
            <label>문장입력: </label>
            <input type="text" placeholder="" id='text1' name='text1' style="border:none">
            <button type='submit'>Enter</button>
        </form>
    </h1>


    <video class="sign_language" id="idle_video" muted width="1280" height="720" playbackRate=3 onended="onVideoEnded();"></video>
    <script type="text/javascript">

        var video_list      = [];
        var video_index     = 0;
        var video_player    = null;
        var firstview       = true;
        var new_arr         = [];
        var x = document.getElementById("idle_video");
        function onload(){
            console.log("body loaded");
            console.log("list : ",video_list);
            video_player = document.getElementById("idle_video");
            // error
            video_player.setAttribute("src",'../../'+video_list[video_index]);
            video_player.playbackRate=3
            video_player.play();
        }

        function onVideoEnded(){
            console.log("video ended");
            if(video_index < video_list.length - 1){
                video_index++;
            }
            else {
                video_index = 0;
                video_list = [];
                firstview = true;
                return
            }
            video_player.setAttribute("src", '../../'+video_list[video_index]);
            video_player.playbackRate=3
            video_player.play();
        }

        function myFunction() {
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
        }



        $(document).on('submit', '#sentence',function(e){
            e.preventDefault();
            $.ajax({
                type:'POST',
                url:'{% url "result" %}',
                data:{
                    text1:$('#text1').val(),
                    csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
                    action: 'POST'
                },
                success:function(json){
                    console.log("data pass",json.q);
                    document.getElementById("sentence").reset();
                    new_arr = json.q;
                    if (firstview){
                        video_list = $.merge([], new_arr);
                        onload();
                    } else{
                        video_list = $.merge( $.merge([],video_list), new_arr);
                    }
                    firstview = false;

                    
                    console.log("data pass2",video_list);
                    
                    
                    
                },
                error : function(xhr,errmsg,err) {
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
            });
        });
    </script>
</body>
</html>